/* Importing webfonts */
/* (If you're learning CSS, you should disregard that) */

@import url(https://fonts.googleapis.com/css?family=Yeseva+One);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,700italic,400italic);


/* CSS reset rules */
* {
    box-sizing: border-box;
    text-wrap: wrap;
}

header {
    /* main_part */
    display: flex;
    position: absolute;
    width: 100%;
    height: 1093px;
    left: 0px;
    top: 0px;
    background-image: url("Object.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    box-sizing: border-box;
    margin: 0;
}

.logo {
    margin-top: 25px;
    display: flex;
    align-self: flex-start;
    list-style: none;
    float: left;
    flex-direction: row-reverse;
    height: fit-content;
}

.nav {
    display: flex;
    float: right;
    align-self: flex-start;
    list-style: none;
    float: left;
    flex-direction: row-reverse;
    height: fit-content;
    justify-content: space-between;
    float: left;
    margin-left: auto;
}

ul,
li {
    align-self: flex-end;
    list-style: none;
    float: left;
    flex-direction: row-reverse;
    height: fit-content;
    justify-content: space-between;
    margin-left: 15px;
    margin-top: 20px;
    margin-right: 5px;
    cursor: pointer;
}

.Get_schooled {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.REGISTER {
    height: 558px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.REGISTER h1 {
    color: white;
    padding-top: 100px;
    font-size: 100px;
    margin-bottom: 0;
}

.REGISTER span {
    display: inline-block;
    /* Makes spans block-level elements */
    color: #fff;
    padding: 10px 20px;
    /*Adds padding around the spans */
}

.REGISTER button {
    background-color: blueviolet;
    /* Blue background */
    color: #fff;
    /* White text */
    border: none;
    /* Removes default border */
    padding: 15px 30px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 10px;
    margin-top: 30px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.learn {
    width: 100%;
    text-align: center;
    color: #fff;
}

.learn h2 {
    color: white;
    font-size: 60px;
    display: block;
    margin: auto;
    align-self: center;
}

.pics4 {
    display: flex;
    justify-content: center;

}

.inpics4 {
    padding: 0px, 10px, 20px, 10px;
    margin: 20px;
    text-align: center;
}

.inpics4 img {
    border-radius: 50%;
}

.Person {
    background-color: #C271FF;
    color: #fff;
    width: 100%;
    height: 400px;
    margin: 0;
}

.person_quote {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.person_quote img {
    height: 120px;
}

.person_quote h3,
p {
    padding-left: 40px;
}

.tutorials {
    width: 100%;
    text-align: center;
    height: 500px;
}

.tutorials h3 {
    padding-top: 50px;
    padding-bottom: 0px;
    height: 20%;
}

.tutorials h3 span {
    color: #C271FF;
}

.vids {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
}

.vid {
    height: 300px;
    width: 19%;
    border-radius: 10px;
    margin: 0px 15px;
}

.picname {
    display: flex;
    height: 50px;
    padding-left: 10px;
    padding-right: 30px;
    color: blueviolet;
}

.picname img {
    height: 30px;
    width: 30px;
    margin-top: 17px;
    margin-right: 10px;
}

.s_pic {
    height: auto;
    width: 100%;
}

.stars {
    display: flex;
    justify-content: center;
    flex: 3;
    align-items: center;
    margin: 0px;
    padding-left: 10px;
    padding-right: 30px;
    color: #C271FF;
}

.stars img {
    height: auto;
    width: 50%;
    margin-right: auto;
}

.Free_membership {
    background-color: #071629;
    text-align: center;
    height: 450px;
    color: #ffff;
}

.Free_membership h3 {
    height: 20%;
    padding-top: 50px;
    font-size: 30px;
}

.Free_membership h3 .highlighted_1 {
    color: #C271FF;
}

.smile_faces_container {
    display: flex;
    justify-content: center;
    min-height: 250px;
    align-items: center;
}

.smile_faces {
    width: 250px;
}

.Free_membership button {
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
    border: 0;
    outline: 0;
    color: #fff;
    background-color: #C271FF;
}

.FAQ {
    background-color: #fff;
    text-align: center;
    height: 600px;
}

.FAQ h2 {
    height: 10%;
    font-size: 50px;
    font-weight: 100;
}

.FAQ_BOXS {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80%;
    padding-left: 130px;
    padding-right: 130px;
}

.FAQ_BOX {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.FAQ_TEXT {
    margin-left: 20px;
    margin-right: 20px;
    width: 40%;
    text-align: left;
}

footer {
    background-color: #071629;
    color: #fff;
}

.footer_container {
    text-align: center;
}

.footer_All {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 100px;
}

.footer_logo {
    display: flex;
    align-items: center;
    height: 100px;
}

.footer_logo img {
    height: auto;
    width: 150px;
    margin-top: 45px;
}

.footer_pics {
    display: flex;
    align-items: center;
    margin-top: 45px;
}

.footer_pics a {
    margin-right: 15px;
}